<html>
<link href="style.css" rel="stylesheet" type="text/css">
<head>
    <title>Add Courses</title>
</head>
<body>
<div class="container">
    <h1>Course Data</h1>
    <form action="done-adding-course" method="post">
        <label for="name">Course Name:</label>
        <input id="name" name="name" type="text">
        <br>
        <br>
        <input class="button" onclick=
                "location.href='http://localhost:8080/grading-system'" type="button"
               value="Back">
        <input type="submit" value="Submit">

    </form>
</div>
</body>
</html>
