<html>
<link href="style.css" rel="stylesheet" type="text/css">

<head>
    <title>Average</title>
</head>

<body>
<div class="container">
    <h1>Course Average Page</h1>

    <form action="view-course-average" method="post">
        <label for="courseId">Enter Course ID:</label>
        <input id="courseId" name="courseId" required type="text">
        <br>
        <br>
        <br>
        <input class="button" onclick="location.href=
                   '/grading-system'" type="button"
               value="Back">
        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>
