<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Welcome Page - Spring</title>
    <style>
        body {
            background-image: url("/welcome-page.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top 30%;
        }

        .container {
            box-shadow: -13px 12px 20px 5px rgb(107, 128, 109);
        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 100px">
    <h1> Welcome to the student grading system</h1>
    <br/>
    <form action="go-to-register" method="post">
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>