<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finished Courses For Student</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            margin-top: 90px !important;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="'Finished courses for ' + ${student.firstName} + ' ' + ${student.lastName}"></h1>

    <table style="width: 50rem !important;">
        <thead>
        <tr>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grade : ${grades}">
            <td th:text="${grade.courseName}"></td>
            <td th:text="${grade.grade}"></td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <input class="button" onclick="location.href=
                   '/courses-for-student'" type="button"
           value="Back"></div>
</body>
</html>
